p{
	font-size: 20px;
}
h1{
	text-align: center;
}

   
.container {
    position: relative
    top:40%	;   
}

body{
	/*background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
	/*background: linear-gradient(to right, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);*/
	/*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
	background-color: #8c8c8c;

}

.name {
    position: absolute;
    top: 8px;
    right: 200px;
    font-size: 18px;
    color:pink;
}

.password {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	color:pink;
}
.inicio{
	position: absolute;
    top: 8px;
    right: 400px;
    font-size: 18px;
   	font-weight: bold;
}
.login{
 	position: absolute;
    top: 90px;
    right:-5px;
    font-size: 18px;
}
#log{
	right:150px;
}
.salir{
	position: absolute;
    top: 30px;
    right:10px;
    font-size: 18px;
}
.nombres{
	position:absolute;

	bottom:0;
	right:0;

}
#logo{
	position:absolute;
	top:0;
	width:200px;
	height:200px;
}

.colaboradores{
	position:absolute;
	bottom:10px;
	right:10px;
}
.amigos{
	position:relative;
	top:100px;
	left:400px;

}
/*
.mata{
	left:400px;
	top:50px;
}


*/
.inicio{
	position: absolute;
	left:10px;
	top:10px;
	background-color:white;
	height:34px;
	width:59.17px;
}
.boton{
	background-color:white;
}

.grupo{
	position:absolute;
	right:10px;
	top:10px;
}
.registrado{
	position: absolute;
    top: 8px;
    right: 20px;
    font-size: 18px;
    color:pink;
}
.publicaciones{
position:absolute;
  height:790px;
  width: 500px;
  border:1px solid grey;
  left:600px;
}

.formRegistro{
	position: absolute;
    display: inline-block;
    text-align: center;
    width: 37%;
    left:31.5%;
    font-size: 20px;

}

.registro{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.boton{
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}





.bg-1 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

 
  p {
  	font-size: 16px;
  }
  .margin {
  	margin-bottom: 45px;
  }
  .bg-1 { 
      background-color: white; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
 
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.fotito{
	left:100px;
}
