p{
	font-size: 20px;
}
h1{
	text-align: center;
}

   
.container {
    position: relative
    top:40%	;   
    width:100%;
}

body{
	background-color: #8c8c8c;

}

.name {
    position: absolute;
    top: 8px;
    right: 200px;
    font-size: 18px;
    color:pink;
}

.password {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	color:pink;
}
.inicio{
	position: absolute;
    top: 8px;
    right: 400px;
    font-size: 18px;
   	font-weight: bold;
}
.registrado{ 	 
    position: absolute;
    top: 18%;
    width:150px;
    font-size: 18px;
    width:auto;
   right:5%;
    top:12%;
}
#log{
	right:150px;
}
.salir{
	position: absolute;
    top: 30px;
    right:10px;
    font-size: 18px;
}
.nombres{
	position:absolute;

	bottom:0;
	right:0;

}
#logo{
	position:absolute;
	top:0;
	width:200px;
	height:200px;
}

.colaboradores{
	position:absolute;
	bottom:10px;
	right:10px;
}
.amigos{
	position:relative;
	top:100px;
	left:400px;

}
.inicio{
	position: absolute;
	left:10px;
	top:10px;
	background-color:white;
	height:34px;
	width:59.17px;
}
.boton{
	background-color:white;
}

.grupo{
	position:absolute;
	right:10px;
	top:10px;
}

.publicaciones{
position:relative;
  height:100%;
  width: 100%;
  left:0%;
}

.formRegistro{
  position: absolute;
    background: #f2f2f2; 
    display: inline-block;
    text-align: center;
    width: 37%;
    left:31.5%;
    font-size: 20px;
    border: solid;
    box-shadow: 3px 3px;
    border-style: 1px;
    border-radius: 20px;

}

.registro{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #4CAF50;
    border-radius: 10px;
    box-sizing: border-box;
}

.boton{
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration-color: white;
    margin: 4px 2px;
    cursor: pointer;
}





.bg-1 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

 
  p {
  	font-size: 16px;
  }
  .margin {
  	margin-bottom: 45px;
  }
  .bg-1 { 
      background-color: white; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
 
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.fotito{
	left:100px;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

.sesion{
  font-size: 18px;
  color:black;
  top:0%;
  position: absolute;
  width: 200px;
  right:0%;
}




/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.boton{

 right:0%;
}



.botonlogin, .registrar{
    margin-top: -6ch;
    position: relative;
    color: white;
    background-color: green;
    border-radius: 3px;
    width: auto;
    float: right;
    margin-left: 20px;
    display:flex;
    height:6ch!important;

}
.registrar{
  background-color: orange;
}
div.viewPublication{
    border: 1px solid powderblue;
}
h4{
  text-align: right;
}

