.texto {
	font-size: 18px;
	background-color: white;
}
   
.container {
    position: relative;
}

body{
	font-family: "FreeSans";
	background-color: #538DB0;
}

.name {
    position: absolute;
    top: 8px;
    right: 200px;
    font-size: 18px;
    color:pink;
}

.password {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	color:pink;
}
.inicio{
	position: absolute;
    top: 8px;
    right: 400px;
    font-size: 18px;
   	font-weight: bold;
}
.login{
 	position: absolute;
    top: 90px;
    right:-5px;
    font-size: 18px;
}
#log{
	right:150px;
}
.salir{
	position: absolute;
    top: 30px;
    right:10px;
    font-size: 18px;
}
.nombres{
	position:absolute;

	bottom:0;
	right:0;

}
#logo{
	position:absolute;
	top:0;
	width:200px;
	height:200px;
}

.colaboradores{
	position:absolute;
	bottom:10px;
	right:10px;
}
.amigos{
	position:relative;
	top:100px;
	left:400px;

}
/*
.mata{
	left:400px;
	top:50px;
}


*/
.inicio{
	position: absolute;
	left:10px;
	top:10px;
	background-color:white;
	height:34px;
	width:59.17px;
}
.boton{
	background-color:white;
}

.grupo{
	position:absolute;
	right:10px;
	top:10px;
}
.registrado {
	position: absolute;
    top: 8px;
    right: 20px;
    font-size: 18px;
    color:pink;
}
.publicaciones{
position:absolute;
  height:790px;
  width: 500px;
  border:1px solid grey;
  left:600px;
}

.formRegistro{
	position: absolute;
    display: inline-block;
    text-align: center;
    width: 28%;
    left: 36%;
    top: 5%;
    font-size: 18px;
    padding: 0px 17px 17px 17px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 5px;
}

.registro{
    width: 90%;
    padding: 18px 22px;
    margin: 10px 4px;
    display: inline-block;
    border: 1px solid #ccc;
    border-style: hidden hidden solid hidden;
    box-sizing: border-box;
    font-size: 14px;
    background-color: white;
    outline: none;
}

.registro:focus {
	border: 2px solid #28ADF1;
	border-style: hidden hidden solid hidden;
	color: #28ADF1;;
}

.boton{
    background: #58D2A1;
    border: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 14px 2px 2px 2px;
    cursor: pointer;
}

.tituloRegistro {
    text-align: center;
    color: #4C638E;
}

.tituloDiv {

}

.boton:hover {
    background: #38D2A1;
}









